body {
  position: relative;
}
p,
li {
  color: rgb(0, 0, 0);
}
h1,
h3 {
  color: rgb(30, 173, 61);
}

.navbar-toggler-icon {
  background-color: #0d6efd;
}

#presentation {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
#title-presentation {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#text-presentation {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.image-presentation {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#image {
  display: flex;
  justify-content: center;
  height: 25vh;
  width: 25vw;
}
/* img {
  border-radius: 50% 20% / 10% 40%;
} */

#diplomes {
  display: flex;
  flex-direction: column;
}
#title-diplomes {
  display: flex;
  justify-content: center;
  align-items: center;
}
#formation {
  display: flex;
  flex-direction: column;
}
#title-formation {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#text-formation {
  margin-left: 50px;
  display: flex;
  justify-content: start;
}

#projets {
  display: flex;
  flex-direction: column;
}
#title-projets {
  display: flex;
  justify-content: center;
}
#link-projets {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#presentation,
#diplomes,
#formation,
#projets {
  padding-top: 50px;
}

#text-diplomes li {
  cursor: pointer;
  display: flex;
  align-items: start;
}

.projet-title-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.projet-image {
  width: 30vw;
  height: auto;
  display: none;
  margin-top: 10px;
}
.diplome-title-container {
  display: flex;

  align-items: end;
}
.diplome-image {
  width: 30vw;
  height: auto;
  display: none;
}
.diplome1 {

  height: 150px;
  display: flex;
}
.diplome2 {
  
  height: 150px;
  display: flex;
}
.diplome3 {
  
  height: 150px;
  display: flex;
}
.diplome4 {
  
  height: 150px;
  display: flex;
}
.diplome5 {
  
  height: 150px;
  display: flex;
}
.diplome6 {
  
  height: 150px;
  display: flex;
}
